@charset "UTF-8";

/* corpo da página */
body {
background-color: #add8e6;
}

/* estilo do título */
    h1 {
        font-size: 34px;
        text-align: center;
      }


/* estilo do parágrafo */
        p {
font-size: 18px;
        line-height: 2;
        letter-spacing: 1px;
    text-align: justify; 
}

fieldset {
      border: none;
}

form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    border-radius: 50px;
    border: 5px solid #87cefa;
    padding-bottom: 13px;
    margin-bottom: 15px;
}

form div+div {
    margin-top: 1em;
}

label {
    /* Para alinhar e deixar as labels com o mesmo tamanho */
    display: inline-block;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}

input {
	display: block;
    font-family: 'Open Sans', sans-serif;
    width: 360px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 3px solid #87cefa;
    border-radius: 50px;
}

.enviar {
    /* Deixa o botão enviar na mesma posição dos campos de texto */
    display: inline-block;
    text-align: center;
    padding-left: 90px;
    /* mesmo tamanho que os elementos do tipo label */
    width: 360px;
}

button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
    margin-left: .5em;
    background-color: #87cefa;
}

select {
	display: block;
    font-family: 'Open Sans', sans-serif;
    width: 360px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Para harmonizar o look & feel das bordas nos campos de texto*/
    border: 3px solid #87cefa;
    border-radius: 50px;
}
footer#footer {
    clear: both;
    border-top: 1px solid #87cefa;
    margin: 10px;
 background-color: #87cefa;
}

footer#footer p {
font-size: 16px;
    font-weight: bolder;
text-align: center;
}
